build/
install/
log/

# Python cache
**/__pycache__/

# VS Code
.vscode

# JetBrains
.idea

# Emacs
*~
.#*

# macOS
.DS_Store

# Generated docs
*.dox
*.wikidoc

# Engine model
models/Yolov8n1280.engine
models/Yolov8n1280.engine.calibration
models/Yolov8n1280_INT8.engine


calibration_data/*
